main {
  padding: 2rem;
  font-family: 'Segoe UI';
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  background-color: #a33307;
  color: #fff;
  cursor: pointer;
  border-radius: 4px; /* Rounded corners */
}

button:hover {
  background-color: #a33307;
  color: rgb(0, 0, 0); /* Change text color to black on hover */
}


/* Footer styling */
footer {
  background-color: #a33307; /* Bootstrap primary color */
  color: #fff;
  padding: 1rem 0;
  text-align: center;
  position: relative; /* Changed to relative */
  width: 100%;
}

.btn-primary{
  background-color: #a33307;
}