
/* Container for Recent Submissions */
.most-viewed-container {
  padding: 20px;
  min-width: 550px;  /* Ensures the width is 48% to align with the other section */
  max-height: 550px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  flex: 1; /* Allow the container to grow if needed */
  overflow-y: auto; /* Allows scrolling when content exceeds max-height */

}

/* Links styling */
.most-viewed-container a {
  text-decoration: none;
}

.most-viewed-container a:hover {
  text-decoration: underline;
  color: #ff6600;
}

/* Section titles */
.most-viewed-container h3 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px;
  font-weight: 400;
}
