

.search1-container {
  width: 100%;              /* Ensures the search bar takes up full width of the container */
  display: flex;
  justify-content: center;  /* Centers the search bar horizontally */
  border-radius: 8px;       /* Optional: Adds rounded corners */
  margin-top: 10px;
  margin-right: 40px;

}
/* Filter container styling */
.filter-container {
  justify-content: center;  /* Centers the items horizontally */
  margin-top: -10px;         /* Adds space above the filter container */
  margin-bottom: 20px; 
  background-color:  /* Adds space below the filter container */
}
